.tableLink {
  font-weight: 500;
  font-size: 13px;
  color: #4b5f8b;
  cursor: pointer;
}
.backBox {
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-weight: 500;
  font-size: 14px;
  color: #8f8f8f;
  cursor: pointer;
}
.oneRow {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.namePopover {
  width: 153px;
  max-height: 140px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  overflow-y: auto;
  .nameItem {
    width: 100%;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
  }
}
