.tableLink {
  font-weight: 500;
  font-size: 13px;
  color: #4b5f8b;
  cursor: pointer;
}
.backBox {
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-weight: 500;
  font-size: 14px;
  color: #8f8f8f;
  cursor: pointer;
}
