/* Your styles goes here. */
body {
  margin: 0;
}

.wrap {
  width: 100vw;
  height: 100vh;

  .testRefresh {
    cursor: pointer;
    position: fixed;
    left: 50%;
    top: 0;
    background-color: #fff;
    padding: 6px;
    border-radius: 10px;
  }
}
