.btn {
  width: 248px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  border-radius: 8px;
}

.listContent {
  width: 30vw;
  .title {
    color: #262626;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 40px;
  }
  .list {
    .listItem {
      margin-bottom: 40px;
      .itemTop {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        .circle {
          width: 8px;
          height: 8px;
          margin-right: 16px;
          border-radius: 50%;
        }
        .itemTitle {
          color: #262626;
          font-size: 24px;
          font-style: normal;
        }
      }
      .itemBottom {
        color: #363636;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        margin-left: 28px;
        line-height: 32px;
      }
    }
  }
}

.productPage {
  width: 100%;
  background-color: #f8ffff;
  .header {
    width: 100vw;
    height: 36.5vw;
    min-height: 700px;
    background-image: url('https://flyele-system.oss-cn-shenzhen.aliyuncs.com/resources/PC/official-website/product-bg1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    margin: 0 auto;

    .headerContent {
      width: 35%;
      padding-top: 5.8%;
      padding-left: 15.8%;

      .headerTitle {
        color: #333;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        margin-bottom: 33px;
      }
      .headerDesc {
        color: #666;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
  .bigBgBox {
    width: 100%;
    height: 47.4vw;
    max-height: 910px;
  }
  .bgBox {
    width: 100%;
    max-width: 1920px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    margin: 0 auto;
  }

  .scenarios {
    .scenariosTitle {
      color: #262626;
      text-align: center;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 54px; /* 150% */
      padding-top: 4vw;
      padding-bottom: 4.38vw;
    }
  }

  .projectList {
    padding-top: 8vw;
    padding-left: 10vw;
  }

  .personalList {
    padding-top: 7.82vw;
    padding-left: 10vw;
  }

  .contentLeft {
    display: flex;
    flex-direction: column;
    align-items: end;

    .scenariosList {
      padding-right: 10.6vw;
    }

    .teamList {
      padding-top: 7.56vw;
      padding-right: 10.6vw;
    }
  }

  .coreBtn {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}

@media screen and (max-width: 1700px) {
  .listContent {
    width: 40vw;
  }
  .productPage {
    .contentLeft {
      .scenariosList {
        padding-right: 4.6vw;
      }
    }
    .scenarios {
      margin-bottom: 290px;
    }
    .project {
      margin-bottom: 290px;
    }
    .schedule {
      margin-bottom: 290px;
    }
    .projectList {
      padding-left: 3vw;
    }
    .personalList {
      padding-left: 3vw;
    }
    .contentLeft {
      .scenariosList {
        padding-right: 4.6vw;
      }
      .teamList {
        padding-right: 4.6vw;
      }
    }
  }
}
