.btn {
  width: 248px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  border-radius: 8px;
}

.listContent {
  width: 500px;
  .title {
    color: #262626;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 28px;
    margin-bottom: 40px;
  }
  .list {
    .listItem {
      margin-bottom: 40px;
      .itemTop {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        .circle {
          width: 12px;
          height: 12px;
          margin-right: 16px;
          border-radius: 50%;
        }
        .itemTitle {
          color: #262626;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
        }
      }
      .itemBottom {
        color: #363636;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        margin-left: 28px;
      }
    }
  }
}

.productPage {
  width: 100%;
  background-color: #f8ffff;
  .header {
    width: 100%;
    max-width: 1920px;
    height: 700px;
    background-image: url('https://flyele-system.oss-cn-shenzhen.aliyuncs.com/resources/PC/official-website/product-bg1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    margin: 0 auto;

    .headerContent {
      width: 35%;
      padding-top: 5.8%;
      padding-left: 15.8%;

      .headerTitle {
        color: #333;
        font-size: 42px;
        font-style: normal;
        font-weight: 600;
        margin-bottom: 33px;
      }
      .headerDesc {
        color: #666;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
  .bigBgBox {
    width: 100%;
    height: 910px;
  }
  .bgBox {
    width: 100%;
    max-width: 1920px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    margin: 0 auto;
  }

  .scenarios {
    .scenariosTitle {
      color: #262626;
      text-align: center;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 54px; /* 150% */
      padding-top: 76px;
      padding-bottom: 84px;
    }
  }

  .projectList {
    padding-top: 153px;
    padding-left: 17%;
  }

  .personalList {
    padding-top: 150px;
    padding-left: 17%;
  }

  .contentLeft {
    display: flex;
    flex-direction: column;
    align-items: end;

    .scenariosList {
      padding-right: 14.6%;
    }

    .teamList {
      padding-top: 145px;
      padding-right: 14.6%;
    }
  }

  .coreBtn {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}
