.modalRoot {
  padding-top: 10px;
  .topBox {
    width: 96%;
    .topRow {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 4px;

      .nameBox {
        font-weight: 400;
        font-size: 11px;
        color: #6a6a6a;

        .name {
          text-decoration-line: underline;
          margin-right: 2px;
          cursor: pointer;
        }
      }

      .orderNo {
        font-weight: 400;
        font-size: 11px;
        line-height: 15px;
        text-align: right;
        color: #b4b4b4;
      }

      .memberState {
        font-weight: 500;
        font-size: 16px;
        color: #262626;
      }

      .moneyBox {
        font-weight: 500;
        font-size: 18px;
        color: #262626;

        .moneyUnit {
          font-size: 14px;
        }
      }
    }
  }
  .contentBox {
    background: #f8f8f8;
    border-radius: 8px;
    margin-top: 8px;
    padding: 16px 16px 0;

    .content {
      display: flex;
      padding-bottom: 12px;

      .contentLeft {
        width: 75px;
        font-weight: 500;
        font-size: 12px;
        color: #262626;
      }
      .contentRight {
        width: calc(100% - 75px);
        margin-left: 16px;

        .normalItemRow {
          display: flex;
          align-items: center;
          padding-bottom: 12px;
          .itemTitle {
            width: 96px;
            font-weight: 400;
            font-size: 12px;
            color: #8f8f8f;
          }
          .itemValue {
            font-weight: 400;
            font-size: 12px;
            color: #262626;
          }
        }

        .table {
          width: 100%;
          .tableRow {
            display: grid;
            grid-template-columns: repeat(3, 98px);
            grid-template-rows: 40px;
            align-items: center;
            justify-content: center;
            column-gap: 23px;
            text-align: left;

            .ellipsis {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
          .tableHeader {
            background: #ededed;
            border-radius: 4px;
            margin-bottom: 1px;
            font-size: 12px;
            color: #8f8f8f;
            grid-template-rows: 30px;
            padding-left: 26px;
          }
          .tableContent {
            background: #ededed;
            border-radius: 4px;
            font-size: 12px;
            color: #262626;
            padding-left: 26px;
          }
          .greyText {
            font-size: 11px;
            color: #8f8f8f;
          }
        }
      }
    }
    .contentBorder {
      border-bottom: 1px solid #ededed;
      margin-bottom: 12px;
    }
  }
}
