.antdTable {
  :global {
    .ant-table-cell {
      border-bottom: none;
    }
    .ant-table-thead {
      .ant-table-cell {
        color: #6a6a6a;
        font-weight: 400;
        font-size: 13px;
        background: #fff;
        border-bottom-color: #ededed;

        &:before {
          display: none;
        }
      }
    }
  }

  .tableTabRow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;

    .tabBox {
      height: 40px;
      margin-left: 32px;
    }
  }
}

.tableActionText {
  font-weight: 400;
  font-size: 13px;
  color: #1dd2c1;
  cursor: pointer;
}

.tableActionBtn {
  width: 72px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #00cfbc;
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  color: #00cfbc;
  cursor: pointer;
  margin: 0 auto;
}
