.pageBottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .copyright {
    width: 30%;
    height: 166px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: #888;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
  }
}

.useBoxRoot {
  width: 100%;
  height: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(29, 210, 193, 0.1);
  margin-top: 80px;

  .useTitle {
    margin: 0 20px;
    font-style: normal;
    color: #262626;
    font-size: 36px;
    font-weight: 500;
    line-height: 50px;
    margin-bottom: 56px;
  }

  .useBtn {
    width: 154px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(79.75deg, #00e09d 5.87%, #1dd2c1 89.96%);
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    border-radius: 8px;
  }
}
