.pageBottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .copyright {
    width: 30%;
    height: 166px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: #888;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
  }
}

.useBoxRoot {
  width: 100%;
  height: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
  background: #2EBEB0;

  .useTitle {
    margin: 0 20px 8px;
    font-style: normal;
    font-weight: 500;
    color: #FDFDFF;
    font-size: 48px;
    line-height: normal;
  }

  .slogan {
    color: #FDFDFF;
    font-size: 24px;
    font-weight: 400;
  }

  .useBtn {
    width: 154px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FEFEFF;;
    cursor: pointer;
    font-weight: 500;
    border-radius: 8px;
    margin-top: 54px;
    color: #2FD5C5;
    font-size: 20px;
  }
}
