.introductionPage {
  width: 100%;

  .ComparsionTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 26px;
    position: sticky;
    z-index: 101;
    background-color: white;
    top: 0;
    height: 74px;

    .use_title {
      margin: 0 20px;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 34px;
      text-align: center;
      color: #262626;
      cursor: pointer;
    }
    .un_use_title {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      color: #262626;
      opacity: 0.3;
      cursor: pointer;
    }
  }
}
