.dayview {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  column-gap: 20px;
  height: 100%;
  box-sizing: border-box;

  & > div {
    flex: 1;
  }

  .lft {
    display: grid;
    grid-template-rows: repeat(2, auto) 1fr;
    row-gap: 8px;
  }
  .right {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    width: 50%;
    & > div {
      min-height: 400px;
      overflow-y: hidden;
    }
  }
}
