// 为了居中，所以搞了个相同宽度，如果后续tab增加，那么宽度也要增加了
$itemWidth: 250px;

.pageNavRoot {
  padding-left: 40px;
  padding-right: 25px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);

  .navLeft {
    width: $itemWidth;
    display: flex;
    align-items: center;

    .logoBox {
      width: 37px;
      height: 40px;
      margin-right: 8px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .text {
      font-weight: 500;
      font-size: 24px;
      color: #262626;
    }
  }

  .navCenter {
    width: $itemWidth;
  }

  .navRight {
    width: $itemWidth;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .userName {
      font-weight: 500;
      font-size: 18px;
      color: #262626;
      margin-right: 4px;
    }
  }

  .tabBoldItem {
    font-size: 18px !important;
    color: #262626 !important;
  }
}
